Repository activemerchant/active_merchant, pull requests merged in 2018-07, with the labels that each got.

#2912 Firstdata E4 (GGE4) v27: Add new gateway
  CHANGELOG
  lib/active_merchant/billing/gateways/firstdata_e4_v27.rb
  test/fixtures.yml
  test/remote/gateways/remote_firstdata_e4_v27_test.rb
  test/schema/firstdata_e4/v27.xsd
  test/unit/gateways/firstdata_e4_v27_test.rb
Labels: gateway/new

#2910 CT Payment: Add new gateway
  CHANGELOG
  lib/active_merchant/billing/gateways/ct_payment.rb
  test/fixtures.yml
  test/remote/gateways/remote_ct_payment_certification_test.rb
  test/remote/gateways/remote_ct_payment_test.rb
  test/unit/gateways/ct_payment_test.rb
Labels: gateway/new

#2922 Update contributing document regarding gateways
  CONTRIBUTING.md
Labels: improvement

#2925 Do not care about test module/class lengths
  .rubocop.yml
Labels: improvement

#2931 Shove Rails-specific Gemfiles into their own directory
  .travis.yml
  gemfiles/Gemfile.rails42
  gemfiles/Gemfile.rails50
  gemfiles/Gemfile.rails51
  gemfiles/Gemfile.rails52
Labels: improvement

#2935 Disable Metrics/ClassLength and ModuleLength
  .rubocop.yml
  .rubocop_todo.yml
Labels: improvement

#2941 Barclaycard Smartpay: bump API to v30
  CHANGELOG
  lib/active_merchant/billing/gateways/barclaycard_smartpay.rb
Labels: gateway/feature

#2946 FirstData E4 v27: Support WalletProviderID
  CHANGELOG
  lib/active_merchant/billing/gateways/firstdata_e4_v27.rb
  test/unit/gateways/firstdata_e4_v27_test.rb
Labels: gateway/feature
